<label for="daterange">Datetime range (click, then press 'Set' to modify):</label>
<input
  [(ngModel)]="selectedMoments"
  [owlDateTimeTrigger]="date_range_component"
  [owlDateTime]="date_range_component"
  [selectMode]="'range'"
  id="daterange"
  matInput
  required
  style="width: 100%; color: cornflowerblue"
/>
<owl-date-time
  #date_range_component
  (afterPickerClosed)="selectedTrigger($event)"
  (dateSelected)="selectedTrigger($event)"
  [endAt]="endValue"
  [startAt]="currentValue"
></owl-date-time>
